.container-big-card {
  width: 40rem;
  height: 50rem;
  display: flex;
  /* margin: 0 2rem; */
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.container-big-card .photo {
  width: 100%;
}

.container-big-card .photo img {
  height: 20rem;
  width: 100%;
  min-width: 40rem;
}

.title > h1 {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.container-big-card .date p, .description > p > a {
  color: #454545;
}

.description {
  margin-top: .8rem;
}

.description > p {
  line-height: 1.3rem;
}