<div class="container-big-card">
  <div class="photo">
    <img 
      src="https://source.unsplash.com/random/200x200?sig=1" 
      alt="photo"
    >
  </div>

  <div class="date">
    <p>April 13, 2023</p>
  </div>

  <div class="title">
    <h1>
      <a href="#">Saiu a nova versão do Angular!</a>
    </h1> 
  </div>

  <div class="description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis architecto quo laborum nulla quas, esse fugiat exercitationem facilis inventore rem, laudantium non hic! Deleniti magnam, unde laborum eligendi in asperiores?
      </a>
    </p>
  </div>
  
</div>