<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<article class="articles">
  <div class="articles-main">
    <app-big-card 
      photo="../../../assets/images/scale.jpeg"
      cardTitle="É anunciado o novo homem de ferro!" 
      cardDescription="Marvel anuncia novo filme do homem de ferro."
    />
  </div>
  <div class="articles-others">
    <app-small-card 
      newDescriction="Saiu a nova versão do Angular."
      imagePath="https://source.unsplash.com/random/200x200?sig=1"
    />
    <app-small-card 
      newDescriction="Novo filme do iron man divida data."
      imagePath="https://source.unsplash.com/random/200x200?sig=1"
    />
    <app-small-card 
      newDescriction="The flash é considerada a melhor série."
      imagePath="https://source.unsplash.com/random/200x200?sig=1"
    />
  </div>
</article>